:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this to your global CSS file or a style tag in your component */

@media print {
  /* Ensure the header, footer, and sidebar are visible */
  header,
  footer,
  aside {
    display: block !important;
  }

  /* Adjust the layout for printing */
  body {
    display: flex;
    flex-direction: column;
  }

  /* Hide unnecessary elements */
  .no-print {
    display: none !important;
  }

  /* Ensure the main content takes up the full width */
  main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Adjust the DataGrid for printing */
  .MuiDataGrid-root {
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
  }

  .MuiDataGrid-virtualScroller {
    overflow: visible !important;
  }

  .MuiDataGrid-row {
    break-inside: avoid; /* Prevent rows from breaking across pages */
  }

  /* Ensure the modal content is visible */
  .MuiModal-root {
    position: relative !important;
    display: block !important;
  }

  .MuiPaper-root {
    box-shadow: none !important;
  }
}

/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 5px; /* width for vertical scrollbar */
  height: 12px; /* height for horizontal scrollbar */
}

/* Style for the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Style for the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* gray thumb */
  border-radius: 10px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* darker gray when hovered */
}

/* Optional: Style for the corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
