:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.high-score {
  color: #00ff3c !important;
  font-weight: bold !important;
}

.medium-score {
  color: #856404 !important;
  font-weight: bold !important;
}

.low-score {
  color: #fe0019 !important;
  font-weight: bold !important;
}
